header {
  background-image: url(./headshot.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 13%;
}

@font-face {
  font-family: "HackFont";
  src: url(./HackNerdFontMono-Regular.ttf;);
}

header h1 {
  text-align: right;
  color: white;
  font-family: "Hack", sans-serif;
}
