/* index.css */

body {
  background-image: url(./images/blobs-d.svg);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: 1500px auto;
  background-position: right 13%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

header {
  background-image: url(./images/drool-d.svg);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: 3100px;
  background-position: right;
  /* margin-bottom: 0px;*/
}

@font-face {
  font-family: "AllertaFont";
  src: url(./Font/AllertaStencil-Regular.ttf);
}

@font-face {
  font-family: "TekoFont";
  src: url(./Font/Teko-Regular.ttf);
}

@font-face {
  font-family: "Poppings";
  src: url(./Font/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Cascadia";
  src: url(./Font/Cascadia.ttf);
}

header h1,
p,
ul,
ol,
li,
h1,
h2,
h3,
a {
  color: white;
}

body,
header h1,
p,
ul,
ol,
li {
  font-family: "Cascadia";
}

header h1 {
  color: rgb(255, 255, 255);
  font-family: "AllertaFont", sans-serif;
  text-align: center;
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

nav.TIU {
  margin-left: 0;
}

nav.TIU a {
  color: yellow;
  font-family: "TekoFont";
  font-weight: bold;
  font-size: large;
  margin-right: 40px;
  letter-spacing: 1.01px;
  transition: color 0.2s ease-in-out;
  text-decoration-line: none;
  /* transition: text-decoration-line 0.2 ease-in-out; */
}

nav.TIU a:hover {
  color: tomato;
  text-decoration-line: underline;
}

nav.TIU {
  background-color: rgba(59, 59, 59, 0.3);
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: space-between;
}

h2,
h3,
a,
p,
h1.heading {
  margin-left: 9px;
}

#typing a,
#lang a {
  color: rgb(255, 255, 255);
  margin-left: 0.2px;
  /* text-decoration-line: none; */
  /* font-weight: bold; */
  /* font-style: italic; */
}

#typing a:hover,
#lang a:hover {
  color: yellow;
  font-weight: bold;
}

#typing a:active {
  color: red;
}

p {
  line-height: 23px;
}

header a {
  font-size: 80px;
  font-family: "Poppings", sans-serif;
  display: block;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  line-height: 90px;
  transition: text-shadow 0.2s ease-in-out;
}

header a:hover {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

nav img.insta {
  width: 100px;
}

nav img.twitter {
  width: 66px;
}

/* Additional CSS for the social media buttons */

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  /* background-color: #381f1f; */
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(119, 38, 38);
}

.icon {
  font-size: 30px;
  margin-bottom: 5px;
}

span {
  font-size: px;
  text-align: left;
}

/* span:hover{
  color: blue;
} */

header a {
  padding-top: 24px;
}

header {
  /* width: 100px; */
  height: 140px;
}

nav#social-media a {
  padding: 0;
  font-family: "Cascadia";
  text-decoration-line: none;
  color: white;
  transition: color 0.3 ease-in-out;
}

nav#social-media a:hover {
  color: rgb(255, 62, 62);
  background-color: rgba(0, 0, 0, 0);
}

li {
  line-height: 23px;
}

/* a:active{
  color: red;
} */

@media (max-width: 500px) {
  .test h1 {
    color: red;
  }
  header {
    /* background-image: url(./images/drool-d.svg); */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-blend-mode: multiply; */
    background-size: 400px;
    /* background-position: right; */
    /* margin-bottom: 0px;*/
  }

  header a {
    font-size: 55px;
    /* font-family: "Poppings", sans-serif; */
    display: block;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
    line-height: 50px;
    /* transition: text-shadow 0.2s ease-in-out; */
  }

  #bio h2 {
    text-align: center;
  }

  nav#social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  p.typewriter {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
}

/* Gradient bar with animation */
/* Gradient bar with slower animation and transparency */
hr {
  border: none;
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(255, 138, 0, 0.7),
    rgba(229, 46, 113, 0.7),
    rgba(92, 37, 141, 0.7)
  );
  background-size: 200% 100%;
  animation: gradientAnimation 8s ease infinite;
}

/* Keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Wavy line with slower animation */
hr.wavy:before {
  /* ... */
  animation: wavyAnimation 2s linear infinite;
}

/* Keyframes for the wavy animation */
@keyframes wavyAnimation {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAnimation 0.5s forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAnimation 1s forwards;
}
