header {
  background-image: url(./images/HeadShot.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: 700px auto;
  background-position: right 13%;
  background-repeat: no-repeat;
}
@font-face {
  font-family: "HackFont";
  src: url(./Font/AllertaStencil-Regular.ttf);
}

header h1 {
  text-align: right;
  color: white;
  font-family: "HackFont", sans-serif;
}
